#!/usr/bin/env python
PACKAGE = "mobility_games"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


gen.add("pc_traveledDistance", double_t, 0, "The amount of distance being traveled.", 2, 1, 5)
gen.add("pc_distanceFromWall", double_t, 0, "The distance from the wall.", 1.5, 0.5, 3)

exit(gen.generate(PACKAGE, "mobility_games", "GridGame2"))
